<h3
  class="text-sm sm:text-base md:text-lg lg:text-xl font-montserrat font-bold text-clip uppercase bg-gradient-to-b from-primary-500 to-secondary-500 bg-clip-text text-transparent"
>
  <slot />
</h3>
